    <div class="banner">
      <div id="Slidebox">
       <div id="banner">
        <div id="banner_list">
<a><script src='<{$config.weburl}>/api/ad.php?id=19&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script></a>
<a><script src='<{$config.weburl}>/api/ad.php?id=20&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script></a>
<a><script src='<{$config.weburl}>/api/ad.php?id=21&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script></a>
<a><script src='<{$config.weburl}>/api/ad.php?id=22&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script></a>
<a><script src='<{$config.weburl}>/api/ad.php?id=27&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script></a>
<a><script src='<{$config.weburl}>/api/ad.php?id=24&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script></a>
		 </div>
        </div>
       </div>      
      </div>
<ul id="flex-control-nav" class="flex-control-nav flex-control-paging">
	    	    <li><a class="on">1</a></li>
                <li><a>2</a></li>
                <li><a>3</a></li>
                <li><a>4</a></li>
                <li><a>5</a></li>
                <li><a>6</a></li>
</ul>
<script src="<{$config.weburl}>/script/jquery.slideshow.js"></script>
<script type="text/javascript">
	var t = n = 0, count;
	jQuery(document).ready(function(){
		count=jQuery("#banner_list a").length;
		jQuery("#banner_list a:not(:first-child)").hide();
		jQuery("#flex-control-nav li a").click(function() {
			var i = jQuery(this).text() - 1;//获取Li元素内的值，即1，2，3，4
			n = i;
			if (i >= count) return;
			jQuery("#banner_list a").filter(":visible").fadeOut(500).parent().children().eq(i).fadeIn(1000);
			document.getElementById("banner").style.background="";
			jQuery(this).toggleClass("on");
			jQuery(this).parent().siblings().children().removeAttr("class");
		});

		jQuery("#flex-control-nav li a").mouseenter(function() {
			var i = jQuery(this).text() - 1;//获取Li元素内的值，即1，2，3，4
			n = i;
			if (i >= count) return;
			jQuery("#banner_list a").filter(":visible").fadeOut(100).parent().children().eq(i).fadeIn(100);
			document.getElementById("banner").style.background="";
			jQuery(this).toggleClass("on");
			jQuery(this).parent().siblings().children().removeAttr("class");

		});

		jQuery("#previous").click(function() {
			// 向左
			var j = jQuery("#flex-control-nav .on").text();// 获取当前显示的图像
			jQuery("#flex-control-nav .on").removeAttr("class");
			if(j==1){// 第一张
				jQuery("#banner_list a").filter(":visible").fadeOut(500).parent().children().eq(count-1).fadeIn(1000);
				jQuery("#flex-control-nav li").eq(count-1).find("a").toggleClass("on");
			}else{
				jQuery("#banner_list a").filter(":visible").fadeOut(500).parent().children().eq(j-2).fadeIn(1000);
				jQuery("#flex-control-nav li").eq(j-2).find("a").toggleClass("on");
			}
		});
		jQuery("#next").click(function() {
			// 向右
			var j = jQuery("#flex-control-nav .on").text();// 获取当前显示的图像
			jQuery("#flex-control-nav .on").removeAttr("class");
			if(j>=count){// 最后一个
				jQuery("#banner_list a").filter(":visible").fadeOut(500).parent().children().eq(0).fadeIn(1000);
				jQuery("#flex-control-nav li").eq(0).find("a").toggleClass("on");
			}else{
				jQuery("#banner_list a").filter(":visible").fadeOut(500).parent().children().eq(j).fadeIn(1000);
				jQuery("#flex-control-nav li").eq(j).find("a").toggleClass("on");
			}

		});

		t = setInterval("showAuto()", 5000);
		jQuery("#banner_list").hover(function(){clearInterval(t)}, function(){t = setInterval("showAuto()", 10000);});
	})

	function showAuto()
	{
		n = n >=(count - 1) ? 0 : ++n;
		jQuery("#flex-control-nav li a").eq(n).trigger('click');
	}
</script>
</div>
<div class="clear"></div>
<div id="cer1100">
  <div id="previous">
  	<a class="dp2013092501">Previous</a>
  </div>
  <div id="next">
    <a class="dp2013092502">Next</a>
  </div>
</div>

<!--slider end-->
<div class="clear"></div>
<div><script src='<{$config.weburl}>/api/ad.php?id=25&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script></div>

                <{foreach item=sublist key=n from=$cList.scat}>
                <dl class="fore<{$n+1}>">
                    <dt><a href="<{$config.weburl}>/?m=product&s=list&id=<{$sublist.catid}>"><{$sublist.cat}></a></dt>
                    <dd>
                    <{foreach item=slist from=$sublist.scat}>
                    <em><a href="<{$config.weburl}>/?m=product&s=list&id=<{$slist.catid}>"><{$slist.cat}></a></em>
                    <{/foreach}>
                    </dd>
                </dl>
                <{/foreach}>

        <{foreach item=cList key=num from=$cat}>
        <div class="j_SubView hidden">
            <div class="catlist">  
                <{foreach item=sublist key=n from=$cList.scat}>
                <dl class="fore<{$n+1}>">
                    <dt><a href="<{$config.weburl}>/?m=product&s=list&id=<{$sublist.catid}>"><{$sublist.cat}></a></dt>
                    <dd>
                    <{foreach item=slist from=$sublist.scat}>
                    <em><a href="<{$config.weburl}>/?m=product&s=list&id=<{$slist.catid}>"><{$slist.cat}></a></em>
                    <{/foreach}>
                    </dd>
                </dl>
                <{/foreach}>
            </div>
            <div class="barnd">
                <h4>推荐品牌</h4>
                <ul>
				<{foreach item=slist key=key from=$cList.brand}>
                	<li <{if ($key+1)%2==0 }>class="fr"<{/if}> ><img width="90" height="40" src="<{$slist.logo}>"></li>
                <{/foreach}>
				</ul>
            </div>
        </div>
        <{/foreach}>

<div class="product_cat" style="margin-top:-50px;">
<div class="ltitle">
<a href="<{$config.weburl}>/?m=product&s=list&id=1002" title="即食燕窝臻品">
<img src="<{$config.weburl}>/image/jishiyanwo.jpg" alt="极盏燕农即食燕窝系列" />
</a>
</div>
<script src='<{$config.weburl}>/api/ad.php?id=2&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script>
</div>
<div class="clear"></div>
<div class="product_cat">
<div class="ltitle">
<a href="<{$config.weburl}>/?m=product&s=list&id=1001" title="干燕窝专柜">
<img src="<{$config.weburl}>/image/ganyanwo.jpg" alt="极盏燕农干燕窝系列" />
</a>
</div>
<script src='<{$config.weburl}>/api/ad.php?id=3&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script>
</div>
<div class="clear"></div>
<div class="product_cat">
<div class="ltitle">
<a href="<{$config.weburl}>/?m=product&s=list&id=1000" title="礼盒装系列">
<img src="<{$config.weburl}>/image/lihezhuang.jpg" alt="极盏燕农礼盒装系列" />
</a>
</div>
<script src='<{$config.weburl}>/api/ad.php?id=17&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script>
</div>
<div class="clear"></div>
<div class="product_cat">
<div class="ltitle">
<a href="<{$config.weburl}>/?m=product&s=list&id=1003" title="礼品卡优惠">
<img src="<{$config.weburl}>/image/lipinka.jpg" alt="极盏燕农礼品卡系列" />
</a>
</div>
<script src='<{$config.weburl}>/api/ad.php?id=18&catid=<{$smarty.get.id}>&name=<{$smarty.get.key}>'></script>
</div>
<div class="clear"></div>

<script type="text/javascript">
  $().ready(function() {
  $('#slideshow').slide({autoplay: false, duration: 5000, showSlideNumber: true});
  });
</script>
</div>
</div>

<div class="clear"></div>
<div class="guestbook">
<div class="cat-l">Contact</div>
<div class="dialog">
<span>如果您有问题咨询，请正确、完整的填写以下的留言内容联系我们，我们会在第一时间内回复您的相关留言信息。</span>
<div class="dialog-box">
  <form method="post" action="/module/guestbook/admin/data.php?method=add" name="addform" onsubmit=javascript:{return(addform());} id="commentform">
 <dl>
  <dt><input maxlength="50" type="text" name="user" size="65"  value="姓名" onClick="OnEnter(this)" onBlur="if (value=='') {value='姓名'}" onFocus="if (this.value=='姓名') this.value='';" class="ipt-txt"/></dt>
  <dt><input maxlength="80" type="text" name="email" size="65" value="E-mail地址" onClick="OnEnter(this)" onBlur="if (value=='') {value='E-mail地址'}" onFocus="if (this.value=='E-mail地址') this.value='';" class="ipt-txt"/></dt>
  <dt><input maxlength="140" type="text" name="qq" size="65" value="手机号码" onClick="OnEnter(this)" onBlur="if (value=='') {value='手机号码'}" onFocus="if (this.value=='手机号码') this.value='';" class="ipt-txt" /></dt>
 </dl>
 <div class="text"><textarea name="text" cols="85" rows="10" placeholder="咨询/意见" class="textarea"></textarea></div>
 <div class="Submit"><input type="Submit" name="Submit" value=""  class="btn" onClick="return Check_add(addform);"/></div>
  </form>
</div>
</div>
</div>
<div class="clear"></div>
<div class="help-container">
<ul class="help-ul clearfix">
        <li class="sprite-bg1">
	  <div class="help-border">
	  <p style="height:40px; line-height:40px;"><a href="" target="_blank" rel="nofollow"><strong>购物指南</strong></a></p>
      	  <p></p>
      	  <p></p>
            </div>
    </li>
        <li class="sprite-bg2">
	  <div class="help-border">
	  <p style="height:40px; line-height:40px;"><a href="" target="_blank" rel="nofollow"><strong>配送方式</strong></a></p>
      	  <p></p>
      	  <p></p>
            </div>
    </li>
        <li class="sprite-bg3">
	  <div class="help-border">
	  <p style="height:40px; line-height:40px;"><a href="" target="_blank" rel="nofollow"><strong>支付方式</strong></a></p>
      	  <p></p>
      	  <p></p>
            </div>
    </li>
        <li class="sprite-bg4">
	  <div class="help-border">
	  <p style="height:40px; line-height:40px;"><a href="" target="_blank" rel="nofollow"><strong>售后服务</strong></a></p>
      	  <p></p>
      	  <p></p>
            </div>
    </li>
        <li class="sprite-bg5">
	  <div class="help-border">
	  <p style="height:40px; line-height:40px;"><a href="" target="_blank" rel="nofollow"><strong>特色服务</strong></a></p>
	  	  <p></p>
      	  <p></p>
            </div>
    </li>
    </ul>
   </div>
</div>